.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 500px;
  }
  
  .page-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* CSS for Filters */
  .filters {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .filters label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .filters input {
    width: 150px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filters select {
    width: 120px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filters button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .filters button:hover {
    background-color: #218838;
  }

/* Optional: Style the "Details" button */
.book button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book button:hover {
  background-color: #0056b3;
}

  
  .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .book img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    /* Adjust the size of the book photo as needed */
    max-height: 150px;
  }
  
  .book h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center; /* Center-align the book title */
  }
  
  .book p {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    text-align: center; /* Center-align the book details */
  }
  
  .book button {
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book button:hover {
    background-color: #45a049;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-button {
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
  }
  
  .page-button:hover {
    background-color: #45a049;
  }
  