.container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  min-height: 500px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.info-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.info-container label {
  flex-shrink: 0;
}

.info-container span {
  margin-right: 10px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.book-container {
  margin-top: 20px;
}

.book {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.review-container {
  margin-top: 20px;
}
.review-container p{
  word-wrap: break-word;
  width: 700px;
}
.review {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
